@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans TC', sans-serif;
}

h1 { font-size: 1.8em; }
h2 {
    font-size: 1.25em;
}
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

body {
    color: #333;
    background-color: #f2f2f2;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
}

p {
    text-indent: 1em;
}

a, a:hover {
    color: #219ab3;
}
a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-default {
    background-color: #219ab3;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    color: #fff;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    background-color: #1e879e;
}

.navbar-default .navbar-nav .active a {
    color: #fff;
    background-color: #1e879e;
}

.navbar-default .navbar-toggle:hover{
    background-color: #1e879e;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar .hamburger {
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -6 24 24"><path fill="#4A4A4A" d="M0 12h18v-2H0v2M0 7h18V5H0v2M0 0v2h18V0H0"/></svg>');
    background-repeat: no-repeat;
    background-size: 30px 24px;
    background-position: center center;
    border: none;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

/* @media only screen and (max-width: 956px) { */
/*     .navbar .hamburger { */
/*         display: inline-block */
/*     } */
/* } */

#sidebar {
    margin-left: 15px;
    margin-top: 50px;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #219ab3;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
    .navbar .hamburger {
        display: inline-block
    }
}

ul li {
    margin:0 0 10px 0;
}

/* footer */
footer p {
    text-align: center;
}

/* amp-sidebar */
amp-sidebar {
    width: 180px;
    background: #fff;
    min-width: 80vw;
}

amp-sidebar nav ul {
    padding-right: 0;
    background: #fff
}
amp-sidebar nav ul li {
    list-style: none;
    margin-bottom: 0
}
amp-sidebar nav ul li ul {
    margin-left: 12px;
    margin-bottom: 0
}
amp-sidebar nav ul li ul li {
    list-style: none;
    margin: 0
}
amp-sidebar nav ul li ul li a {
    padding: 6px 15px;
    font-size: 1.2em
}
amp-sidebar nav a,
amp-sidebar nav span,
amp-sidebar nav h2 {
    color: #424242;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    padding: 6px 12px;
    letter-spacing: 0.04em;
    font-size: 15px
}
amp-sidebar nav nav {
    background: #1e879e;
    box-sizing: border-box
}
amp-sidebar nav nav h2 {
    font-style: italic;
    margin-bottom: 0
}
amp-sidebar nav nav li {
    font-size: 14px
}
amp-sidebar nav nav li ul li.current {
    position: relative
}
amp-sidebar nav nav li ul li.current span {
    color: #0379C4;
    font-weight: 400
}
amp-sidebar nav nav li ul li.current ul {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 12px
}
amp-sidebar nav nav li ul li.current::after {
    left: -12px
}
amp-sidebar nav nav li ul li a {
    font-size: 1em
}